.homeView {
  background: #fff;
  height: 100px;
  position: relative;
  width: 100%;
  z-index: 98;

  &__banner {
    align-items: center;
    background: #7e57c2;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    position: relative;
    padding-bottom: 100px;
    text-align: center;
    top: 30px;

    &__profileImg {
      height: 90px;
      width: 90px;
      border-radius: 50%;
    }
    & > h1, p {
      color: #fff;
      margin: 0;
    }
    & > *:nth-child(2) {
      margin-top: 1rem;
    }
    & > *:nth-child(3) {
      margin-top: 1rem;
    }
  }

  &__aboutMe {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    position: relative;
    top: -70px;
    z-index: 99;

    &__content {
      background: #fff;
      box-shadow: 0 6px 16px rgba($color: #7e57c2, $alpha: 0.05);
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      height: fit-content;
      justify-content: center;
      padding: 3rem 0;
      width: 95%;
      
      &__title {
        color: #434343;
        text-align: center;
      }

      &__coverLetter {
        align-self: center;
        color: #7e57c2;
        width: 610px;
        line-height: 2rem;
        font-weight: 400;
        text-align: center;
      }
    }
  }

  &__recentWork {
    color: #7e57c2;
    height: 100px;
    margin: 0 2rem;
    position: relative;
    text-align: center;
    top: -40px;

    &__content {
      display: flex;
      flex-wrap: wrap;
      height: fit-content;
      justify-content: center;
      width: 100%;
      padding: 2rem 0;
      &__card {
        background: white;
        box-shadow: 0 6px 16px rgba($color: #7e57c2, $alpha: 0.1);
        border-radius: 1rem;
        display: flex;
        flex-grow: 1;
        height: 250px;
        margin-right: 2rem;
        margin-bottom: 2rem;
        overflow: hidden;
        width: 30%;
        transition: .3s;
        & > img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
        &:hover {
          border: solid #7e57c2 1px;
          cursor: pointer;
          transition: .3s;
          transform: scale(1.05);
        }
        &:active {
          box-shadow: 0 6px 16px rgba($color: #7e57c2, $alpha: 0.2);
          transition: .1s;
          transform: scale(1.03);
        }
      }
    }
  }
}